*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #F6F8FF;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 10%;
    transition: 0.9s;
}

button{
    cursor: pointer;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50%;
}
@media (max-width:370px){
    .main{
        width: 70%;
    }
}

@media (max-width:700px){
    .main{
        width: 90%;
    }
}

.definfer-mode{
    background-color: transparent;
    margin-bottom: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-basis: 100%;
    width: 100%;
}
.definfer-mode button{
    flex-basis: 10%;
    float: right;

    font-family:'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 2.5px;

    background-size: 20px;

    padding-right: 36px;
    text-transform: uppercase;

    width: 72px; 
    height: 20px;
    transition: 0.9s;
}

.definfer-mode span{
    flex-basis: 90%;
    float: left;
    color: #222731;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
}
@media (max-width:370px){
    .definfer-mode button{
        flex-basis: 50%;
    }
    .definfer-mode span{
        flex-basis: 50%;
    }
}

.btn-dark{
    background-color: transparent;
    border: 0px;
    background-image: url(assets/icon-moon.svg) ;
    background-position: right;
    background-repeat:no-repeat ;
    color: #222731;

    /* visibility: hidden; */
}
.btn-light{
    background-color: transparent;
    border: 0px;
    background-image: url(assets/icon-sun.svg) ;
    background-position: right;
    background-repeat:no-repeat ;
    color: white;
}
.dark-mode{
    background-color:#141D2F ;
}
.div-dark-mode{
    background:#1E2A47 !important; 
    box-shadow:none !important;
}


/* search */
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: #FEFEFE;
    box-shadow: 0px 16px 30px -10px 
            rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    width: 100%;
    padding: 2%;
}
.text-search{
    cursor: pointer;
    background-image:url(assets/icon-search.svg) ;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 5%;

    border: 0px;
    background-color: transparent;
    position: relative;

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;

    color: #222731;

    padding: 2% 2% 2% 5% ;

    flex-basis: 70%;
    width: 100%;
    float: left;
}
.search button{
    float: right;
    flex-basis: 10%;
    width: 100%;

    background: #60ABFF;
    border-radius: 10px;
    padding:2%;
    border: 0px;

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;

    color: #FFFFFF;
}
.blank{
    flex-basis: 20%;
    background-color: transparent;
}
.res-msg{
    display: none;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;

    color: #F74646ed;
    width:20px;
    flex-basis: 20%;
}

