*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #F6F8FF;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 10%;
}

button{
    cursor: pointer;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 70%;
}

.definfer-mode{
    background-color: transparent;
    display: flex;
    flex-basis: 100%;
    width: 90%;
}
.definfer-mode button{
    flex-basis: 20%;

    font-family:'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 2.5px;

    background-size: 20px;

    padding-right: 7%;
    cursor: pointer;
}
.definfer-mode span{
    flex-basis: 80%;
    color: #222731;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
}

.btn-dark{
    background-color: transparent;
    border: 0px;
    background-image: url(assets/icon-moon.svg) ;
    background-position: right;
    background-repeat:no-repeat ;
    color: #222731;

    /* visibility: hidden; */
}
.btn-light{
    background-color: transparent;
    border: 0px;
    background-image: url(assets/icon-sun.svg) ;
    background-position: right;
    background-repeat:no-repeat ;
    color: white;
    transform: translate(100%,0%);
    visibility: hidden;
}

/* search */
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: #FEFEFE;
    box-shadow: 0px 16px 30px -10px 
            rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    width: 90%;

    padding: 2%;

}
.text-search{
    background-image:url(assets/icon-search.svg) ;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 5%;

    border: 0px;
    background-color: transparent;
    position: relative;
    /* transform: translate(25%,0%); */

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    /* font-size: 18px;
    line-height: 25px; */

    color: #222731;

    padding: 2% 2% 2% 30px ;

    flex-basis: 70%;

}
.search button{
    float: right;
    flex-basis: 10%;

    background: #60ABFF;
    border-radius: 10px;
    padding:2%;
    /* border: #60ABFF; */
    border: 0px;

    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    /* font-size: 16px;
    line-height: 24px; */

    color: #FFFFFF;
}

.res-msg{
    background-color: transparent;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    /* font-size: 15px;
    line-height: 22px; */

    color: #F74646ed;

    /* visibility: hidden; */
    flex-basis: 20%;

}
